<div class="fixed top-2 right-3 z-[100] space-y-2 w-1/4">
  @for (toast of toasts; track $index) {
  <div
    [@slide]="toast.animationState"
    [class]="getBackgroundColor(toast.type) + ' toast p-4 rounded-md w-full'"
  >
    <div class="flex justify-between items-center gap-4">
      <div class="font-bold">{{ toast.title }}</div>
      @if (toast.showCloseButton) {
      <ng-icon
        [svg]="icon"
        (click)="onClose(toast.id)"
        class="cursor-pointer"
      ></ng-icon>
      }
    </div>
    @if (toast.message) {
    <div class="mt-2">{{ toast.message }}</div>
    }
  </div>
  }
</div>
